:root {
  --purple-1000: #2A0A4A;
  --orange-500: #EB4A27;
  --content-width: 80rem;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}


.bg-leprechaun-striped {
  background: url(/images/figure.png) no-repeat, url(/images/bg.png) no-repeat,
    var(--purple-1000);
  background-position: bottom, right -40rem top 0;
  background-size: 30rem, 70rem;
}